* { box-sizing: border-box; }
body {
	font-family: sans-serif;
	margin: 0;
	min-height: 100vh;
	display: grid;
	/* grid-template: 50px auto 24px / 90px auto; */
	grid-template: 50px auto 200px / 90px auto;
}
header {
	grid-column: 1 / span 2;
	grid-row: 1;
	padding: 4px 10px;
	display: flex;
}
header >div {
	flex: 1;
}
header >div >img {
	height: 36px;
	margin: 2px;
}
header >div.header-right {
	text-align: right;
}
nav {
	grid-column: 1;
	grid-row: 2 / span 2;
}
nav > ul {
	list-style: none;
	margin: 6px;
	padding: 6px;
}
section {
	grid-column: 2;
	grid-row: 2;
}
footer {
	grid-column: 2;
	grid-row: 3;
	/* text-align: center; */
	overflow-y: scroll;
}
.page-outer {
    margin: 10px;
}

/* currently wall-css does not handle @media */
@media (max-width: 570px) { 
	header {
		display: grid;
		grid-template: auto auto / auto auto;
	}
	header > div:nth-child(1) {
		grid-column: 1;
		grid-row: 1 / span 2;
	}
	header > div:nth-child(2) {
		grid-column: 2;
		grid-row: 1;
	}
	header > div:nth-child(3) {
		grid-column: 2;
		grid-row: 2;
	}
}